.cv-flag {
    background-position: -80px -20px;
}

.country-flag {
    background-image: url("../img/countries.webp");
}

header.masthead {
    height: 80vh;
    min-height: 650px;
}

#mainNav {
    background-color: #fff;
    color: #333;
    padding: 0px;
    height: 80px;
}

#mainNav .navbar-brand {
    color: #fff;
    background-color: #007bff;
    padding-left: 10px;
    padding-right: 10px;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link, 
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #333;
}

.btn-primary {
    background-color: #007bff !important;
}

#portfolio .container-fluid .row .col-lg-4,
#portfolio .container-fluid .row .col-sm-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.section-footer {
    padding-top: 4rem;
    padding-left: 8rem;
    padding-bottom: 4rem;
}

.footer-logo {
    font-size: 2rem;
    color: #6c757d;
    font-weight: bold;
}

.section-footer li.list-inline-item {
    padding-right: 50px;
}

.section-footer li.list-inline-item h3 {
    color: #fff;
}
